# 1. Apagar el defecto de Apache
AcceptPathInfo Off

# 2. Página 404
ErrorDocument 404 /404.php

# 3. Activar el motor de reescritura
RewriteEngine On

# 4. Magia para quitar "index.php" inicial
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ / [R=301,L]

# 5. Evitar que las reglas afecten a archivos físicos reales (como los CSS, JS o fotos)
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# --- 6. TUS RUTAS JERÁRQUICAS (Manga y Foro) ---

# Visor: /obra/solo-leveling/capitulo-0-0
RewriteRule ^obra/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/?$ visor.php?obraSlug=$1&capSlug=$2 [L,QSA]

# Obra: /obra/solo-leveling
RewriteRule ^obra/([a-zA-Z0-9-]+)/?$ detalle.php?slug=$1 [L,QSA]

# Tema del Foro: /foro/que-opinas-sobre-solo-leveling
RewriteRule ^foro/([a-zA-Z0-9-]+)/?$ tema.php?slug=$1 [L,QSA]


# --- 7. AUTOMATIZACIÓN DE ARCHIVOS GENERALES (Quitar .php) ---
# Esta regla hace que CUALQUIER archivo que exista en tu servidor (perfil.php, agregar_obra.php, etc)
# pueda abrirse directamente sin escribir el .php al final.
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L,QSA]